header.header
  .container
    .header-top
      a.header-logo(href="#")  MoGo
      i.fa-solid.fa-bars.header-toggle 
      ul.header-menu
        +menuLink("About")
        +menuLink("Services")
        +menuLink("Work")
        +menuLink("Blog")
        +menuLink("Contacts")
        li.header-menu-item
          a.header-menu-icon(href="#") 
            i.fa.fa-shopping-cart
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fa.fa-search
    .header-content
      h2.header-content-caption Creative Template
      h1.header-content-main  Welcome to mogo
      a.header-content-more(href="#") Learn more 
    .header-bottom
      +headerBottomItem("01", "Intro")(class="is-active")
      +headerBottomItem("02", "Work")
      +headerBottomItem("03", "About")
      +headerBottomItem("04", "Contacts")
    