section.quote
  .container 
    .quote-container 
      i.fa.fa-angle-left.quote-arrow
      +blockQuote('https://img.upanh.tv/2022/09/04/img-quote.png','"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."', 'Tus Gino')
      i.fa.fa-angle-right.quote-arrow 