section.services
  .container
    +blockBox("We work with","Amazing Services")
    .services-list 
      +servicesItem("Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-clock")
      +servicesItem("Web Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-image")
      +servicesItem("Creativity", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-desktop")
      +servicesItem("seo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-book-open")
      +servicesItem("Css/Html", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-house")
      +servicesItem("digital", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", "fa-solid fa-credit-card")
      