section.statistics
  .container 
    .statistics-list
      +statisticsItem("42", "Web Design Projects")
      +statisticsItem("123", "Happy Client")
      +statisticsItem("15", "Award Winner")
      +statisticsItem("99", "Cup Of Coffee")
      +statisticsItem("24", "Members")
      