section.quotes
  .container
    .quotes-container
      +quotesItem("./images/img-quote-avatar.png", true)
      //- +quotesItem("./images/img-quote-avatar.png", true)
      //- +quotesItem("./images/img-quote-avatar.png", true)
