.header {
  min-height: 100rem;
  background: linear-gradient(to bottom, rgba($primary-color, 0.8), rgba($secondary-color, 0.8)),
    url('https://img.upanh.tv/2022/09/04/img-header-bg.jpg') no-repeat center / cover;
  color: #fff;
  &-logo {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
  &-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer;
  }
  &-menu-link {
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s linear;
  }
  &-menu-icon {
    color: #fff;
  }
  &-top {
    padding-top: 3rem;
    @include flexbox(baseline, space-between, row, nowrap);
  }
  &-content {
    text-align: center;
    padding-top: 15.5rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  &-content-caption {
    font-family: $tertiary-font;
    font-size: 7.2rem;
    margin-bottom: 3rem;
  }
  &-content-main {
    font-family: $primary-font;
    font-size: 15rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 6rem;
    margin-bottom: 5rem;
    position: relative;
  }
  &-content-main::after {
    content: '';
    @include size(6rem, 0.3rem);
    background-color: #fff;
    bottom: 0;
    @include absoluteCenter('horizontal');
  }
  &-content-more {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 0.3rem solid #fff;
  }
  &-bottom {
    margin-top: 14rem;
    padding-bottom: 3rem;
    @include flexbox();
    flex-wrap: wrap;
    &-item {
      border-top: 0.3rem solid #fff;
      padding-top: 2.5rem;
      width: calc(25% - 30px);
      opacity: 0.6;
      position: relative;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        @include size(25%, 0.3rem);
        background-color: $primary-color;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        opacity: 0;
      }
      &:not(:first-child) {
        margin-left: 3rem;
      }
      &-number {
        font-weight: bold;
        font-size: 2.4rem;
      }
      &-text {
        margin-left: 1rem;
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }
    &-item.is-active {
      opacity: 1;
      &::after {
        opacity: 0.8;
      }
    }
  }

  @include minWidth(767px) {
    &-menu {
      @include flexbox(baseline, flex-end, row, nowrap);
      &-item:not(:first-child) {
        margin-left: 5rem;
      }
    }
    &-menu-link {
      color: #fff;
      display: inline-block;
      padding-bottom: 1.2rem;
      border-bottom: 0.3rem solid transparent;
    }
    &-menu-link:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      transition: all 0.2s linear;
    }
  }
  @include maxWidth(1023px) {
    min-height: unset;
    &-content {
      padding-top: 10rem;
      &-main {
        font-size: 11rem;
      }
    }
    &-bottom {
      margin-top: 10rem;
    }
  }
  @include maxWidth(767px) {
    &-toggle {
      display: inline-block;
      align-self: center;
    }

    &-menu {
      display: block;
      position: fixed;
      background-color: #fff;
      top: 0;
      bottom: 0;
      right: 0;
      width: 30rem;
      padding: 2rem 2.5rem;
      z-index: 10;
      transform: translateX(100%);
      transition: transform 0.25 ease-in;
      &.is-expand {
        transform: translateX(0);
      }
      &-item {
        margin-bottom: 1rem;
      }
      &-link {
        color: $title-color;
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.4rem;
        &:hover {
          color: #fff;
          background-color: $secondary-color;
        }
      }
      &-icon {
        display: block;
        color: $title-color;
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.4rem;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &-content {
      padding-top: 5rem;
      &-main {
        font-size: 4rem;
      }
      &-caption {
        font-size: 4.2rem;
      }
    }
    &-bottom {
      margin-top: 5rem;
      padding-bottom: 2rem;
      &-item {
        &-text {
          display: none;
        }
        text-align: center;
        padding-top: 1.5rem;
      }
    }
  }
}
